# Logs
*.log
reports/
backups/
notebooks/

# Data (ham ve ara veriler)
data/
!data/README.md   # sadece açıklama dosyasını bırakabilirsin

# Models
models/
!models/manifest.json   # modeli tanımlayan manifest kalabilir

# Python cache
__pycache__/
*.pyc
*.pyo
*.pkl
*.parquet
